.msg-box{
    min-height: 16px;
    max-height: 50px;
    min-width:100px ;
    max-width: 400px ;
    border: 2px solid gray;
    margin-top: 30px;
}

.msger-detail{
    display: flex;
    gap: 5px;
    line-height: 0px;
    margin-left: 5px;
}

.msger-detail p{
    font-weight: 500;
    margin-top: 4px;
    font-size: medium;
}

.msg{
    margin-left: 5px;
}