.msgInputBox {
  max-width: 400px;
  height: 45px;
  border: 1px solid transparent;
}

.inputbox {
  height: 45px;
  min-width: 360px;

  border: 2px solid transparent;
  border-radius: 20px;
  background-color: rgb(229, 241, 250);
}

.container {
  display: flex;
  gap: 6px;
}
